.art-container {
    display: flex;
    justify-content: space-between;
}

.poem-cards-container {
    align-items: center;
    margin-top: 25px;
}

.poem-card {
    color: white;
    background-color: rgba(0, 0, 0, 0.158);
}