.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav, .logo, .right-nav {
    justify-content: space-between;
    font-size: 25px;
    
}

.navbar-links {
    text-decoration: none;
    color: white;
}

#about, #art {
    margin-right: 20px;
}

#header-logo {
    margin-right: 15px;
}

#insta, #facebook {
    margin-left: 20px;
}

.navbar-links-header {
    font-weight: bold;
    font-style: oblique;
    padding-right: 75px;
    text-decoration: none;
    color: white;
}

.social-icons {
    margin-left: 10px;
}