.home-container {
    display: flex;
    align-items: center;
    margin-top: -4.5%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-logo {
   
}

.inner-circle {
    height: 100%;
    animation: heartbeat 3s infinite;
    overflow: hidden;
}

.top-level {
    display: flex;
    justify-content: space-between;
}

.middle-level {
    
}

.inner-circle img {
    width: 25%;
    height: 25%;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.07);
    }
    
    50% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1);
    }
}