.home-container {
    margin-top: 15%;
    height: 100%;
    width: 100%;
}

.logo {
   
}

.inner-circle {
    animation: heartbeat 3s infinite;
}

.inner-circle img {
    width: 25%;
    height: 25%;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(2);
    }
    
    50% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1);
    }
}